@import 'reset.css';
@import url('https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

/********************* global variables ******************/


.cover-column {
    height: 120vh;
    width: 100%;
    
}

.cover {
    background: linear-gradient(0deg, rgba(24, 23, 23, 0.726), rgba(27, 26, 26, 0.712)), url('/img/cover.jpg');
    background-position: center center;
    background-size: cover;
    height: 120vh;

}



.header-container {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px 90px;
    background: #000000dc;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;

}

header {
    display: flex;
}

header .navbar-left ul {
    display: flex;
    justify-content: space-evenly;
    margin: 40px 50px 0px 0px;
}

header .navbar-left ul li {
    justify-content: space-evenly;
    margin: 0 10px;
    font-size: 16px;

}


header .navbar-left ul li a {
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    transition: color .2s ease-in-out;
}

header .navbar-left ul li a:hover {
    border-bottom: 1px solid #f1c40f;
    color: #f1c40f;
}


header .navbar-right ul {
    display: flex;
    justify-content: space-evenly;
    margin: 40px 0px 0px 50px;
}

header .navbar-right ul li {
    justify-content: space-evenly;
    margin: 0 10px;
    font-size: 16px;

}


header .navbar-right ul li a {
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    transition: color .2s ease-in-out;
}

header .navbar-right ul li a:hover {
    border-bottom: 1px solid #f1c40f;
    color: #f1c40f;
}


header .logo img {
    width: 170px;
}

.icon {
    width: 235px;
    margin: 0 auto;
}

.icon img {
    margin-top: 30px;
}

.unique {
    position: absolute;
    top: 300px;
    left: 300px;

}

.unique h2 {
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    letter-spacing: 2px;
    line-height: 24px;
}


.unique h3 {
    font-size: 110px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    letter-spacing: 2px;
    padding-bottom: 10px;
}

.unique p {
    font-size: 16px;
    text-align: center;
    text-transform: capitalize;
    color: #ffffffd7;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 2px;
    line-height: 24px;
    font-weight: 100;
    padding: 0 20px;
    margin-bottom: 40px;
}

.unique .button {
    background: #f1c40f;
    width: 100px;
    margin: 0 auto;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    padding: 15px 30px;
    color: #000000dc;
    margin-left: 190px;
    text-transform: uppercase;

}

.cover-boxes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    position: absolute;
    top: 600px;
    left: 100px;
    color: #f1c40f;
    max-width: 1000px;
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 10px;
    height: 80px;
    text-align: center;

}

.cover-boxes .fas,
.far {
    margin-top: 15px;
    margin-bottom: 10px;
}

.cover-boxes .location {
    border-right: 1px solid rgba(255, 255, 255, 0.2);
}


.cover-boxes .phone-number {
    border-right: 1px solid rgba(255, 255, 255, 0.2);
}


.cover-boxes .location {
    border-right: 1px solid rgba(255, 255, 255, 0.2);
}


/************** experience section  ***************/
.experience {
    background: #ffffffc4;
    height: 100vh;
    width: 100%;
}

.ex-row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.experience-column {
    padding-top: 50px;
}

.experience-column h2 {
    color: #f1c40f;
    font-size: 16px;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    padding-bottom: 10px;

}

.experience-column h3 {
    color: #000000;
    font-size: 50px;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    padding-bottom: 10px;

}


.ex-border {
    position: relative;
    display: block;
}


.ex-border::after {
    content: "";
    background: #f1c40f;
    width: 70px;
    height: 4px;
    position: absolute;
    left: 0;
    top: 20px;

}


.experience-column #p1 {
    font-size: 18px;
    line-height: 27px;
    color: #2d2d2d;
    margin: 40px 0px;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1px;
}

.experience-column p {
    font-size: 14px;
    line-height: 27px;
    color: #2d2d2d;
    margin: 40px 0px;
    text-transform: capitalize;
    font-family: 'Open Sans', sans-serif;

}

.experience-column .ex-button {
    background: #f1c40f;
    width: 100px;
    margin: 0 auto;
    font-size: 12px;
    font-weight: 700;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    padding: 15px 40px;
    color: #000000dc;
    text-transform: uppercase;

}

.experience-image-box {
    padding: 20px;


}

.experience-image-box img {
    height: 600px;
    max-width: 100%;
    width: 85%;
    margin-left: 70px;
}


/********************* special services ********************/


.special-services {
    background: #eaeff2;
    height: 120vh;
    width: 100%;
    padding-bottom: 100px;
}


.special-services h2 {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 50px;
    padding-top: 100px;
}


.special-services .special-column .special-img {
    width: 100%;
    max-width: 50px;
    padding: 20px 550px;


}

.special-services .special-column .card-boxes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    margin: 0px 15px;
}

.special-services .special-column .card-inner {
    width: 100%;
    max-width: 330px;
    border: 4px solid #000000;
    height: 500px;
    padding: 10px 10px;
}

.special-services .special-column .card-inner .car-image-box {
    height: 100%;
}

.special-services .special-column .card-inner .car-image-box .card-img img {
    max-width: 330px;
    height: 250px;
    width: 100%;


}

.special-services .special-column .card-inner .car-image-box .card-text {
    text-align: center;
    padding: 20px 0px 0px 0px;

}


.special-services .special-column .card-inner .car-image-box .card-text h4 {
    color: #d19d64;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-size: 26px;
    font-weight: 600;
    padding-bottom: 20px;
}


.special-services .special-column .card-inner .car-image-box .card-text p {
    font-size: 13px;
    line-height: 24px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    padding: 0 20px;
    padding-bottom: 40px;
}

.special-services .special-column .card-inner .car-image-box .card-text .service-button {
    background: transparent;
    border: 1px solid #000000;
    width: 100px;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    padding: 12px 40px;
    color: #000000dc;
    text-transform: uppercase;
    transition: background .2s ease-in-out;
}

.special-services .special-column .card-inner .car-image-box .card-text .service-button:hover {
    background: #f1c40f;
}


/************** Testimonials  ************************/

#Testimonials {
    background: linear-gradient(0deg, rgba(24, 23, 23, 0.726), rgba(27, 26, 26, 0.712)), url('/img/BarberTools1.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    height: 700px;
}

#Testimonials h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 46px;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
    padding-top: 80px;
    text-transform: uppercase;
}



.Testimonials-carousel {
    position: absolute;
    top: 60%;
    left: 50%;
    width: 100%;
    padding: 40px 0;
    text-align: center;
    transform: translate(-50%, -50%);
}

 .Carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.Carousel-inner>.item {
    position: relative;
    display: none;
    animation: 0.5s ease-in-out;
}

.Carousel-inner>.active,
.Carousel-inner>.next {
    display: block;
}

.Carousel-inner>.next {
    position: absolute;
    top: 0;
    width: 100%;
}

.Carousel-inner>.to-left {
    animation-name: left;
}

.Carousel-inner>.from-right {
    animation-name: right;
}

.Carousel-inner>.to-right {
    animation-name: right;
    animation-direction: reverse;
}

.Carousel-inner>.from-left {
    animation-name: left;
    animation-direction: reverse;
}

.Carousel-container {
    margin: 0 auto;
}

.Testimonials-carousel .Carousel-inner  .Carousel-container img {
    border-radius: 50%;
    width: 100px;
}

.Testimonial-text {
    padding: 30px 0px;
    margin: 0 auto;
    font-size: 16px;
    color: #fff;
    line-height: 32px;
    width: 50%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

.author {
    margin: 0;
    color: #f1c40f;
    font-family: 'Oswald', sans-serif;
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 20px;
    text-transform: capitalize;
    
}

.carousel-control {
    position: absolute;
    top: 60px;
    bottom: 0;
    left: 0;
    cursor: pointer;

}

.carousel-control.right {
    right: 50px;
    left: auto;
}

.carousel-control.left {
    left: 50px;
    right: auto;
}

.carousel-control>.arrow {
    position: absolute;
    top: 40%;
    display: inline-block;
    width: 50px;
    height: 30px;
    transform: translateY(-50%);
    background-size: 18px;
    color: #000000;
    background: #f1c40f;
    border-radius: 4px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    padding: 10px 10px;
    transition: all .2s ease-in-out;

}



.carousel-control>.arrow.right {
    right: 50%;
}

.carousel-control .fas {
    font-size: 24px;
    padding: 4px 0px;
}


.carousel-indicators-tm {
    position: absolute;
    bottom: -10px;
    left: 50%;
    padding-left: 0;
    margin: 0;
    list-style: none;
    transform: translateX(-50%);
}

.carousel-indicators-tm li {
    display: inline-block;
    width: 10px;
    height: 10px;
    cursor: pointer;
    border-radius: 10px;
    border: 1px solid #ffffffde;
}

.carousel-indicators-tm li.active {
    background-color: #f1c40f;
}


@keyframes left {
    from {
        left: 0;
    }

    to {
        left: -100%;
    }
}

@keyframes right {
    from {
        left: 100%;
    }

    to {
        left: 0;
    }
}

#Testimonials #Testimonial-line {
    padding-top: 20px;
    color: #f1c40f;
    font-size: 40px;
    width: 100%;
    text-align: center;
}


/************* Our Team Section ****************/

.OurTeam {
    background: #eaeff2;
    height: 110vh;
    width: 100%;
    padding-bottom: 50px;
}


.OurTeam h2 {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 50px;
    padding-top: 100px;
    text-transform: uppercase;
}


.OurTeam .OurTeam-column .special-img {
    width: 100%;
    max-width: 50px;
    padding: 20px 560px;

}

.OurTeam .OurTeam-column .card-boxes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    max-width: 1020px;
    margin: 0 auto;
    grid-gap: 20px;
    padding-top: 20px;
}

.OurTeam .OurTeam-column .card-inner {
    width: 100%;
    max-width: 330px;
   
    
}



.OurTeam .OurTeam-column .card-inner .card-img {
    width: 100%;
    height: 350px;
    position: relative;
}



.OurTeam .OurTeam-column .card-inner .card-img img {
    height: 100%;
    width: 100%;
}

.OurTeam .OurTeam-column .card-inner  .card-text {
    text-align: center;
    padding: 30px 0px 0px 0px;
    background: #000000;
    height: 100px;

}


.OurTeam .OurTeam-column .card-inner  .card-text h4 {
    color: #f1c40f;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    font-weight: 300;
    padding-bottom: 20px;
}


.OurTeam .OurTeam-column .card-inner  .card-text span {
    font-size: 16px;
    line-height: 24px;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    color: #ffffff;
    text-transform: uppercase;
}

