@import 'reset.css';
@import url('https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.container {
    max-width: 1170px;
    margin: 0 auto;
    height: 100%;

}

.row {
    height: 100%;
}

#Testimonial-line {
    padding-top: 20px;
    color: #f1c40f;
    font-size: 40px;
    width: 100%;
    text-align: center;
}

/********************* global variables ******************/




.cover {
    background: linear-gradient(0deg, rgba(24, 23, 23, 0.726), rgba(27, 26, 26, 0.712)), url('/img/cover.jpg');
    background-position: center center;
    background-size: cover;
    height: 800px;

}

.cover-column {
    height: 100%;
    width: 100%;

}

.header-container {
    max-width: 100%;
    padding: 20px;
    background: #000000dc;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;

}

.mobile-nav {
    display: none;
}

header {
    display: flex;
}

header .navbar-left ul {
    display: flex;
    justify-content: space-evenly;
    margin: 40px 20px 0px 112px;
}

header .navbar-left ul li {
    justify-content: space-evenly;
    margin: 0 10px;
    font-size: 16px;

}


header .navbar-left ul li a {
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    transition: color .2s ease-in-out;
}

header .navbar-left ul li a:hover {
    border-bottom: 1px solid #f1c40f;
    color: #f1c40f;
}


header .navbar-right ul {
    display: flex;
    justify-content: space-evenly;
    margin: 40px 0px 0px 20px;
}

header .navbar-right ul li {
    justify-content: space-evenly;
    margin: 0 10px;
    font-size: 16px;

}


header .navbar-right ul li a {
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    transition: color .2s ease-in-out;
}

header .navbar-right ul li a:hover {
    border-bottom: 1px solid #f1c40f;
    color: #f1c40f;
}


header .logo img {
    width: 170px;
}

.header-container .navbar-toggler {
    display: none;
}


.icon {
    width: 200px;
    margin: 0 auto;
}

.icon img {
    margin-top: 30px;
}

.unique {
    padding-top: 20px;

}

.unique h2 {
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    letter-spacing: 2px;
    line-height: 24px;
}


.unique h3 {
    font-size: 110px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    letter-spacing: 2px;
    padding-bottom: 10px;
}

.unique p {
    font-size: 16px;
    text-align: center;
    text-transform: capitalize;
    color: #ffffffd7;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 2px;
    line-height: 24px;
    font-weight: 100;
    padding: 0 20px;
    margin-bottom: 40px;
}

.unique .button {
    background: #f1c40f;
    margin: 0 auto;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    padding: 20px 30px;
    color: #000000dc;
    display: block;
    max-width: 172px;
    text-transform: uppercase;

}

.cover-boxes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    position: absolute;
    top: 600px;
    left: 120px;
    color: #f1c40f;
    max-width: 1000px;
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 10px;
    height: 80px;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;

}

.cover-boxes .fas,
.far {
    margin-top: 15px;
    margin-bottom: 10px;
}

.cover-boxes .location {
    border-right: 1px solid rgba(255, 255, 255, 0.2);
}


.cover-boxes .phone-number {
    border-right: 1px solid rgba(255, 255, 255, 0.2);
}


.cover-boxes .location {
    border-right: 1px solid rgba(255, 255, 255, 0.2);
}


/************** experience section  ***************/
.experience {
    background: #ffffffc4;
    height: 800px;
    width: 100%;
}

.ex-row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.experience-column {
    padding-top: 50px;
}

.experience-column h2 {
    color: #f1c40f;
    font-size: 16px;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    padding-bottom: 10px;

}

.experience-column h3 {
    color: #000000;
    font-size: 50px;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    padding-bottom: 10px;

}


.ex-border {
    position: relative;
    display: block;
}


.ex-border::after {
    content: "";
    background: #f1c40f;
    width: 70px;
    height: 4px;
    position: absolute;
    left: 0;
    top: 20px;

}


.experience-column #p1 {
    font-size: 18px;
    line-height: 27px;
    color: #2d2d2d;
    margin: 40px 0px;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1px;
}

.experience-column p {
    font-size: 14px;
    line-height: 27px;
    color: #2d2d2d;
    margin: 40px 0px;
    text-transform: capitalize;
    font-family: 'Open Sans', sans-serif;

}

.experience-column .ex-button {
    background: #f1c40f;
    width: 100px;
    margin: 0 auto;
    font-size: 12px;
    font-weight: 700;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    padding: 15px 40px;
    color: #000000dc;
    text-transform: uppercase;

}

.experience-image-box {
    padding-top: 40px;


}

.experience-image-box img {
    height: 600px;
    max-width: 100%;
    width: 85%;
    margin-left: 70px;
}


/********************* special services ********************/


.special-services {
    background: #eaeff2;
    height: 800px;
    width: 100%;
    padding-bottom: 100px;
}


.special-services h2 {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 50px;
    padding-top: 100px;
}

.special-services .special-column .logo {
    max-width: 80px;
    width: 100%;
    margin: 0 auto;
    padding: 20px 0;
}


.special-services .special-column .special-img {
    width: 100%;
    max-width: 50px;
}



.special-services .special-column .card-boxes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    grid-gap: 10px;
    margin-left: 20px;
}

.special-services .special-column .card-inner {
    width: 100%;
    max-width: 330px;
    border: 4px solid #000000;
    height: 500px;
    padding: 10px 10px;
}

.special-services .special-column .card-inner .car-image-box {
    height: 100%;
}

.special-services .special-column .card-inner .car-image-box .card-img img {
    max-width: 330px;
    height: 250px;
    width: 100%;


}

.special-services .special-column .card-inner .car-image-box .card-text {
    text-align: center;
    padding: 20px 0px 0px 0px;

}


.special-services .special-column .card-inner .car-image-box .card-text h4 {
    color: #d19d64;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-size: 26px;
    font-weight: 600;
    padding-bottom: 20px;
}


.special-services .special-column .card-inner .car-image-box .card-text p {
    font-size: 13px;
    line-height: 24px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    padding: 0 20px;
    padding-bottom: 40px;
}

.special-services .special-column .card-inner .car-image-box .card-text .service-button {
    background: transparent;
    border: 1px solid #000000;
    width: 100px;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    padding: 12px 40px;
    color: #000000dc;
    text-transform: uppercase;
    transition: background .2s ease-in-out;
}

.special-services .special-column .card-inner .car-image-box .card-text .service-button:hover {
    background: #f1c40f;
}


/************** Testimonials  ************************/

#Testimonials {
    background: linear-gradient(0deg, rgba(24, 23, 23, 0.726), rgba(27, 26, 26, 0.712)), url('/img/BarberTools1.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    height: 700px;
}

#Testimonials h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 46px;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
    padding-top: 80px;
    text-transform: uppercase;
}



.Testimonials-carousel {
    position: absolute;
    top: 60%;
    left: 50%;
    width: 100%;
    padding: 40px 0;
    text-align: center;
    transform: translate(-50%, -50%);
}

.Carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.Carousel-inner>.item {
    position: relative;
    display: none;
    animation: 0.5s ease-in-out;
}

.Carousel-inner>.active,
.Carousel-inner>.next {
    display: block;
}

.Carousel-inner>.next {
    position: absolute;
    top: 0;
    width: 100%;
}

.Carousel-inner>.to-left {
    animation-name: left;
}

.Carousel-inner>.from-right {
    animation-name: right;
}

.Carousel-inner>.to-right {
    animation-name: right;
    animation-direction: reverse;
}

.Carousel-inner>.from-left {
    animation-name: left;
    animation-direction: reverse;
}

.Carousel-container {
    margin: 0 auto;
}

.Testimonials-carousel .Carousel-inner .Carousel-container img {
    border-radius: 50%;
    width: 100px;
}

.Testimonial-text {
    padding: 30px 0px;
    margin: 0 auto;
    font-size: 16px;
    color: #fff;
    line-height: 32px;
    width: 50%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

.author {
    margin: 0;
    color: #f1c40f;
    font-family: 'Oswald', sans-serif;
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 20px;
    text-transform: capitalize;

}

.carousel-control {
    position: absolute;
    top: 60px;
    bottom: 0;
    left: 0;
    cursor: pointer;

}

.carousel-control.right {
    right: 50px;
    left: auto;
}

.carousel-control.left {
    left: 50px;
    right: auto;
}

.carousel-control>.arrow {
    position: absolute;
    top: 40%;
    display: inline-block;
    width: 50px;
    height: 30px;
    transform: translateY(-50%);
    background-size: 18px;
    color: #000000;
    background: #f1c40f;
    border-radius: 4px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    padding: 10px 10px;
    transition: all .2s ease-in-out;

}



.carousel-control>.arrow.right {
    right: 50%;
}

.carousel-control .fas {
    font-size: 24px;
    padding: 4px 0px;
}


.carousel-indicators-tm {
    position: absolute;
    bottom: -10px;
    left: 50%;
    padding-left: 0;
    margin: 0;
    list-style: none;
    transform: translateX(-50%);
}

.carousel-indicators-tm li {
    display: inline-block;
    width: 10px;
    height: 10px;
    cursor: pointer;
    border-radius: 10px;
    border: 1px solid #ffffffde;
}

.carousel-indicators-tm li.active {
    background-color: #f1c40f;
}


@keyframes left {
    from {
        left: 0;
    }

    to {
        left: -100%;
    }
}

@keyframes right {
    from {
        left: 100%;
    }

    to {
        left: 0;
    }
}




/************* Our Team Section ****************/

.OurTeam {
    background: #eaeff2;
    height: 800px;
    width: 100%;
    padding-bottom: 50px;
}


.OurTeam h2 {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 50px;
    padding-top: 100px;
    text-transform: uppercase;
}

.OurTeam .OurTeam-column .logo {
    max-width: 60px;
    width: 100%;
    margin: 0 auto;
    padding: 20px 0;
}


.OurTeam .OurTeam-column .special-img {
    width: 100%;
    max-width: 50px;

}



.OurTeam .OurTeam-column .card-boxes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    max-width: 1020px;
    margin: 0 auto;
    grid-gap: 20px;
    padding-top: 20px;
}

.OurTeam .OurTeam-column .card-inner {
    width: 100%;
    max-width: 330px;


}



.OurTeam .OurTeam-column .card-inner .card-img {
    width: 100%;
    height: 350px;
    position: relative;
}



.OurTeam .OurTeam-column .card-inner .card-img img {
    height: 100%;
    width: 100%;
}

.OurTeam .OurTeam-column .card-inner .card-text {
    text-align: center;
    padding: 30px 0px 0px 0px;
    background: #000000;
    height: 100px;

}


.OurTeam .OurTeam-column .card-inner .card-text h4 {
    color: #f1c40f;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    font-weight: 300;
    padding-bottom: 20px;
}


.OurTeam .OurTeam-column .card-inner .card-text span {
    font-size: 16px;
    line-height: 24px;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    color: #ffffff;
    text-transform: uppercase;
}

/******************** Pricing Table *********************************/

.Pricing-Table {
    background: linear-gradient(0deg, rgba(24, 23, 23, 0.904), rgba(27, 26, 26, 0.904)), url('/img/barbershopchair.jpeg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    height: 1000px;
}

.Pricing-Table h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 46px;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
    padding-top: 80px;
    text-transform: uppercase;
}




.pricingtable-container {
    margin: 0px;
}

.tabbed-content {
    padding-top: 40px;
}

.tabs ul {
    margin: 0;
    padding: 0;
    font-weight: bold;
    border-bottom: #f1c40f solid 2px;
    background: #000000;
}

.tabs ul li {
    font-size: 28px;
    font-weight: 700;
    font-family: 'Oswald', sans-serif;
    padding: 0;
    background: none;

}

.tabs li {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    font-size: 14px;
    line-height: 19px;
    font-weight: normal;
    padding-bottom: 2px;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    padding: 6px 15px;
    color: #888888;
}

.tabs ul li a {
    padding: .6em 1.7em;
    text-decoration: none;
    transition: all .2s ease-in-out;
    display: block;

}



.tab {
    cursor: pointer;
    color: #000000;

}

.tab:hover {
    background: #f1c40f;
    color: #000000;
    transition: all .2s ease-in-out;
}


.tab.active {
    background: #f1c40f;
    color: #000000;

}



[data-tab-content] {
    opacity: 0;
    visibility: hidden;
    height: 0;
    transition: all .5s ease-out;
}

.active[data-tab-content] {
    opacity: 1;
    visibility: visible;

}


.price-list-main {
    width: 100%;
    padding: 40px 0px 0px 4px;
}

.price-list-full-row {
    width: 100%;
    display: inline-block;
    margin-bottom: 50px;
}


.price-list-row.right-space {
    width: 550px;
    display: inline-block;
    padding: 0 2% 0 0;
}

.price-list-row.left-space {
    width: 580px;
    display: inline-block;
}

.price-list-box {
    width: 100%;
}

.price-list-inner-box {
    width: 100%;
    border-bottom: #656464 solid 1px;
}

.price-list-description p {
    font-size: 14px;
    text-transform: capitalize;
    text-align: left;
    color: #c2c2c2;
    font-family: 'Open Sans', sans-serif;
    padding: 8px 0 0 0;
    line-height: 24px;
}

.price-list-service-name {
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    text-align: left;
    color: #FFFFFF;
    display: inline-block;
}

.price-list-service-price {
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    text-align: right;
    color: #f1c40f;
    margin-top: -20px;

}

.Pricing-Table .book-box {
    position: absolute;
    max-width: 900px;
    width: 100%;
    top: 750px;
    left: 110px;
    border: #3d3c3b solid 2px;
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(2, auto);
    transition: border .2s ease-in-out;

}

.Pricing-Table .book-box:hover {
    border: #f1c40f solid 2px;
}

.Pricing-Table .hours-box {
    display: flex;

}

.Pricing-Table .hours-box,
.far {
    color: #f1c40f;
    font-size: 18px;
}

.Pricing-Table .hours-box p {
    margin: 14px 0px 0px 10px;
    font-family: 'Oswald', sans-serif;
    font-size: 19px;
    text-transform: uppercase;
    color: #FFFFFF;
}


.Pricing-Table .button-box a {
    background: #f1c40f;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    padding: 15px 30px;
    color: #000000dc;
    text-transform: uppercase;
    float: right;
}

/*******************  Discount Section **************************/

.Discount {
    background: #eaeff2;
    height: 780px;
}

.Discount .Discount-column {
    padding-top: 60px;

}


.Discount .Discount-column .discount-box {
    max-width: 1030px;
    width: 100%;
    margin: 0 auto;
    background: #000000;
    border: 8px solid #eaeff2;
    outline: black solid 2px;
    padding: 60px 50px;
    text-align: center;
}


.Discount .discount-image-box {
    text-align: center;
}

.Discount .discount-image-box img {
    width: 100px;

}

.Discount .Discount-column .discount-box #text1 {
    font-weight: 600;
    color: #f1c40f;
    font-family: 'Oswald', sans-serif;
    font-size: 50px;
    padding-bottom: 15px;
}

.Discount .Discount-column .discount-box #text2 {
    color: #FFFFFF;
    font-family: 'Oswald', sans-serif;
    margin-top: 15px;
    font-size: 50px;
    line-height: 24px;
    font-weight: 300;
    padding-bottom: 20px;
}

.Discount .Discount-column .discount-box p {
    color: #FFFFFF;
    font-family: 'Oswald', sans-serif;
    margin-top: 15px;
    font-size: 20px;
    line-height: 24px;
    font-weight: 300;
}

.Discount .Discount-column .discount-box span {
    color: #f1c40f;
}

.Discount .Discount-column #text3 {
    text-align: center;
    padding: 60px 220px;
    line-height: 30px;

}

.Discount .Discount-column .button {
    background: #f1c40f;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    padding: 20px 40px;
    color: #000000dc;
    text-transform: uppercase;
    display: block;
    max-width: 170px;
    margin: auto;
}

/******************** Make an appointment ************************/



#make-an-appointment {
    background: #000000;
    height: 900px;

}

.appointment-title-box {
    margin-bottom: 50px;
}

.appointment-title-box h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 46px;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
    padding-top: 80px;
    text-transform: uppercase;
}


.appointment-column .booking-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}

.appointment-column .booking-box .open-hours-column {
    padding: 0 35px;
    width: 80%;
}

.appointment-column .booking-box .open-hours-column h4 {
    font-family: 'Oswald', sans-serif;
    font-size: 35px;
    font-weight: 700;
    color: #f1c40f;
    text-transform: uppercase;
    margin-bottom: 50px;
}



.appointment-column .booking-box .open-hours-column ul li {
    margin-bottom: 45px;
    border-bottom: 2px dotted #f1c40f;
    list-style-type: none;

}

.appointment-column .booking-box .open-hours-column ul li span {
    color: #ffffff;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-transform: uppercase;
    position: relative;
    top: 5px;
    padding: 0 5px;
    display: inline-block;
    background: #000;
}

.appointment-column .booking-box .open-hours-column ul li span:last-child {
    float: right;
}

.appointment-column .booking-box .box-column {
    padding: 0 10px;
    overflow: hidden;
}

.appointment-column .booking-box .box-column .appointment-box {
    width: 82%;
    background: #f1c40f;
    padding: 50px;


}

.appointment-column .booking-box .box-column .appointment-box .box-title {
    text-align: center;
    color: #000000;
    position: relative;
    font-size: 30px;
    margin-bottom: 45px;
    letter-spacing: 0;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}

.appointment-column .booking-box .box-column .appointment-box .appointment-form {
    width: 100%;

}

.appointment-column .booking-box .box-column .appointment-box .appointment-form .appointment-form-field {
    width: 100%;
    margin-bottom: 10px;
    position: relative;

}

.appointment-form-field select {
    font-size: 14px;
    line-height: 16px;
    position: relative;
    background: none;
    border: #FFFFFF solid 1px;
    height: 40px;
    width: 100%;
    padding: 0 10px;
    border-radius: 0;
    box-shadow: none;
    color: #676767;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}



.appointment-form-field input[type="text"],
.appointment-form-field input[type="email"],
.appointment-form-field textarea {
    font-size: 14px;
    line-height: 16px;
    position: relative;
    background: none;
    border: #FFFFFF solid 1px;
    height: 40px;
    width: 92%;
    padding: 0 15px;
    border-radius: 0;
    box-shadow: none;
    color: #676767;
}


.appointment-form-field input[type="submit"] {
    cursor: pointer;
    background: #000000;
    font-size: 13px;
    line-height: 45px;
    height: 45px;
    text-transform: uppercase;
    font-weight: 700;
    border: none;
    width: 100%;
    color: #f1c40f;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1px;
    margin: 40px 0 0 0;
}

.appointment-form-field input:focus {
    outline: 0;
}

.appointment-form-field select:focus {
    outline: 0;
}

.appointment-form-field .appointment-calender {
    cursor: pointer;
    width: 33px;
    height: 33px;
    position: absolute;
    right: 5px;
    top: -2px;
    text-align: center;
    border: none;
    font-size: 25px;

}

.appointment-form-field .far {
    color: #000000;
}

/*******************  Gallery Section **************************/

.gallery {
    background: #eaeff2;
    height: 100%;
    width: 100%;
    padding-bottom: 50px;
}


.gallery-title h2 {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 50px;
    padding-top: 100px;
    text-transform: uppercase;

}

.gallery-column {
    height: 100%;
}

.controls {
    max-width: 50%;
    margin: 20px auto;
    text-align: center;

}

.control-btn {
    box-shadow: inset 0px 1px 0px 0px #000000;
    background-color: #000000;
    border: 1px solid #000000;
    border-radius: 6px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    padding: 5px 28px;
    text-decoration: none;
    text-transform: capitalize;
    font-family: 'Oswald', sans-serif;
    transition: all .2s ease-in-out;
    margin: 0 5px;

}

.control-btn:focus {
    outline: none;
}

.control-btn:hover {
    background: linear-gradient(to bottom, #f1c40f 5%, #f1c40f 100%);
    background-color: #f1c40f;
    color: #000;
}


.control-btn.active {
    background-color: #f1c40f;
    color: #000;

}

#portfolio-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-flow: dense;
    grid-column-gap: 1.25%;
    grid-row-gap: 1.25%;
    margin-top: 30px;
}


.portfolio-item img {
    width: 100%;
    height: 260px;
}


.hidden {
    display: none;
    animation: fade-out 1s ease-out;


}

.visible {
    display: block;
    animation: fade-in 1s ease-in;
    text-align: center;

}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}



/******************* Member section  ****************************/


#member {
    background: #000000;
    height: 200px;
    padding-bottom: 40px;
}

#member .container .row .member-column {
    display: grid;
    grid-template-columns: 800px 300px;

}

.member-left {
    padding-top: 118px;
    padding-left: 50px;
}

.member-left .member-box {
    display: inline-block;
}

.member-left h3 {
    font-size: 35px;
    font-family: 'Oswald', sans-serif;
    color: #eaeff2;
    text-align: center;
    display: inline-block;
    margin-left: 20px;
}

.member-left img {
    width: 120px;
    display: inline-block;
}

.member-right {
    display: inline-block;
    padding-top: 110px;
}

.member-right .button {
    background: #f1c40f;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    padding: 20px 40px;
    color: #000000dc;
    text-transform: uppercase;
    display: block;
    max-width: 170px;
    margin: auto;
}

/************************ contact ******************************/

#contact {
    background: linear-gradient(0deg, rgba(24, 23, 23, 0.904), rgba(27, 26, 26, 0.904)), url('/img/barbershopchair.jpeg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    height: 400px;
    padding-bottom: 20px;
}

.contact-column {
    height: 100%;
}

.contact-column .contact-title {
    padding-bottom: 40px;
}


.contact-column .contact-title h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 46px;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
    padding-top: 60px;
    text-transform: uppercase;

}

.contact-box-column {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}


.contact-box-column .box .icon {
    display: block;
    background: #FFFFFF;
    color: #000000;
    border-radius: 100%;
    width: 40px;
    height: 30px;
    padding-top: 10px;
    font-size: 16px;
    text-align: center;
    margin: 0 auto;
}

.contact-box-column .box .text h6 {
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #f1c40f;
    text-align: center;
    padding-top: 20px;
    text-transform: uppercase;
}

.contact-box-column .box .text p {
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    padding-top: 10px;
}


/* map section */

#map {
    height: 400px;
    width: 100%;
}

#map-title {
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    font-weight: 500;
}

#map-street {
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    color: #000000;
    font-weight: 400;
}

#map-city {
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

/* footer section */

#footer {
    background: #191919;
    background-position: center center;
    background-size: cover;
    height: 630px;
}

.row .footer-column {
    padding-top: 80px;
}

.logo-footer {
    text-align: center;
}

.logo-footer img {
    width: 200px;
}

.footer-links ul {
    padding-top: 50px;
    text-align: center;
}

.footer-links ul li {
    display: inline-block;
    position: relative;
    border-right: 1px solid #f1c40f;
    padding-left: 10px;
    padding-right: 15px;
}

.footer-links ul li:nth-child(10) {
    border-right: none;
}


.footer-links ul li .footer-link {
    display: inline-block;
    font-size: 16px;
    line-height: 16px;
    color: #808080;
    font-weight: 400;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
}


.footer-column p {
    font-size: 16px;
    line-height: 16px;
    color: #808080;
    padding: 30px 0;
    text-align: center;

}

.subscribe {
    padding-top: 60px;
    text-align: center;
    width: 100%;
}

.subscribe h6 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    padding-bottom: 15px;
    font-weight: 400;
    font-size: 20px;
    line-height: 16px;
    color: #808080;
}

.subscribe img {
    width: 50px;
}

.subscribe p {
    font-size: 16px;
    line-height: 16px;
    color: #808080;
    padding-top: 60px;

}

.subscribe #email {
    max-width: 350px;
    width: 100%;
    margin-left: 60px;
    position: relative;
}

.subscribe input[type="email"] {
    border: 1px solid #626262;
    background: #191919;
    font-size: 12px;
    line-height: 14px;
    color: #a2a3a5;
    font-weight: 400;
    width: 100%;
    height: 43px;
    padding: 0 48px 0 9px;
}

.subscribe input[type="submit"] {
    background: url('/img/yellowmustache.png') no-repeat center center;
    cursor: pointer;
    width: 60px;
    height: 33px;
    position: relative;
    right: 70px;
    top: 1px;
    text-align: center;
    border: none;
    background: #f1c40f;


}

/* media queries */





@media only screen and (min-width: 1300px) {

    .cover {
        height: 800px;
    }

    .cover-boxes {
        top: 610px;
        left: 212px;
    }

    .cover-column {
        height: 800px;
        width: 100%;
    }


    .header-container {
        padding-left: 194px;
    }

    .icon {
        width: 200px;
        margin: 0 auto;
    }

    .unique {
        position: absolute;
        top: 300px;
        left: 400px;
    }

    .experience {
        height: 800px;
        width: 100%;
    }

    .special-services {
        height: 740px;
        padding-bottom: 117px;
    }

    .OurTeam {
        background: #eaeff2;
        height: 800px;
        width: 100%;
        padding-bottom: 50px;
    }

    .Pricing-Table .book-box {
        position: absolute;
        top: 750px;
        left: 210px;
    }

    #footer {
        background: #191919;
        background-position: center center;
        background-size: cover;
        height: 630px;
    }
}

@media only screen and (max-width: 1199px) {

    .cover {
        height: 800px;
    }

    .cover-boxes {
        top: 610px;
        left: 105px;
        max-width: 800px;
    }

    .cover-column {
        height: 800px;
        width: 100%;
    }


    .header-container {
        padding: 20px 0px;
    }



    header .navbar-left ul {
        display: flex;
        justify-content: space-evenly;
        margin: 40px 20px 0px 18px;
    }

    header .navbar-right ul {
        display: flex;
        justify-content: space-evenly;
        margin: 40px 0px 0px 20px;
    }

    .icon {
        width: 195px;
        margin: 0 auto;
    }

    .unique {
        padding-top: 40px;
        padding-left: 5px;
    }

    .experience {
        height: 800px;
        width: 100%;
    }

    .ex-row {
        display: grid;
        grid-template-columns: repeat(2, 450px);
        justify-content: center;
    }

    .experience-image-box img {
        height: 600px;
        max-width: 100%;
        width: 85%;
        margin-left: 50px;
    }



    .special-services {
        height: 740px;
        padding-bottom: 90px;
    }

    .OurTeam {
        background: #eaeff2;
        height: 800px;
        width: 100%;
        padding-bottom: 50px;
    }

    .Pricing-Table .book-box {
        position: absolute;
        top: 750px;
        left: 210px;
    }

    .special-services .special-column .special-img {
        width: 100%;
        max-width: 50px;
    }



    .special-services .special-column .card-boxes {
        display: grid;
        grid-template-columns: repeat(3, 300px);
        justify-content: center;
        grid-gap: 10px;
        margin-left: 15px;
    }

    .special-services .special-column .card-inner {
        width: 100%;
        max-width: 265px;
        border: 4px solid #000000;
        height: 480px;
        padding: 10px 10px;
    }

    .special-services .special-column .card-inner .car-image-box .card-img img {
        max-width: 330px;
        height: 220px;
        width: 100%;
    }

    .appointment-column .booking-box .box-column .appointment-box {
        width: 82%;
        background: #f1c40f;
        padding: 40px;
    }

    .appointment-column .booking-box .box-column {
        padding: 0px 0px;

    }





    .OurTeam .OurTeam-column .special-img {
        width: 100%;
        max-width: 50px;

    }

    .OurTeam .OurTeam-column .card-boxes {
        max-width: 950px;

    }

    .pricingtable-container {
        margin: 0 auto;
        max-width: 900px;
        width: 100%;
    }

    .price-list-main {
        width: 100%;
        padding-top: 40px;
        padding: 40px 0px 0px 0px;
    }

    .price-list-row.right-space {
        width: 450px;
        display: inline-block;
        padding: 0 2% 0 0;
    }

    .price-list-row.left-space {
        width: 428px;
        display: inline-block;
        padding: 0 0% 0 0;
    }

    .Pricing-Table .book-box {
        position: absolute;
        max-width: 800px;
        width: 100%;
        top: 750px;
        left: 60px;

    }

    .Discount .Discount-column .discount-box {
        max-width: 760px;
        width: 100%;
        margin: 0 auto;
    }

    .portfolio-item img {
        width: 100%;
        height: 240px;
    }

    #portfolio-grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-flow: dense;
        grid-column-gap: 1.25%;
        grid-row-gap: 1.25%;
        margin: 30px 30px;
    }

    #member .container .row .member-column {
        display: grid;
        grid-template-columns: 710px 300px;
    }


    #footer {
        background: #191919;
        background-position: center center;
        background-size: cover;
        height: 630px;
    }
}



@media only screen and (max-width: 999px) {

    .header-container {
        display: none;
    }

    header {
        display: block;
    }

    .mobile-nav {
        display: block;
        max-width: 100%;
        padding: 20px;
        background: #000000dc;
        font-family: 'Oswald', sans-serif;
        font-weight: 300;
        position: relative;
    }



    .mobile-nav .responsive-menu {
        display: block;
        width: 95%;
        padding: 0;
        height: auto;
        /* height: 500px; */
        max-height: 0;
        overflow: hidden;
        background-color: #ffffff;
        transition: all ease-in-out 0.3s;
        position: absolute;
        z-index: 10;

    }

    .responsive-menu #home {
        color: #ffffff;
    }

    .mobile-nav .responsive-menu.open {
        margin-top: 50px;
        max-height: 110vh;


    }

    .mobile-nav .responsive-menu li {
        width: 100%;
        transition: all .2s ease-in-out;
        padding: 15px 10px;
        border-bottom: 1px solid #ffffff;

    }



    .mobile-nav .responsive-menu li:hover {
        background-color: rgba(255, 255, 255, 0.15);
    }

    .mobile-nav .responsive-menu li a {
        position: relative;
        text-decoration: none;
        font-size: 10px;
        color: #000000;
        text-transform: uppercase;
        transition: all .2s ease-in-out;
        margin: 0 10px;
        font-weight: 300;


    }

    .mobile-nav .responsive-menu li a:hover {
        color: #51d466;


    }



    .mobile-nav .navbar-toggler {
        display: block;
        position: absolute;
        height: 40px;
        top: 40px;
        right: 40px;
        background-color: #f1c40f;
        outline: none;
        padding: 10px 10px;
        cursor: pointer;
        border: none;

    }

    .mobile-nav .navbar-toggler span,
    .mobile-nav .navbar-toggler span::before,
    .mobile-nav .navbar-toggler span::after {
        display: block;
        content: '';
        background-color: #000;
        height: 3px;
        width: 28px;
        border-radius: 4px;
        transition: all ease-in-out 0.3s;
        border: 1px solid #000000;
    }


    .mobile-nav .navbar-toggler span::before {
        transform: translateY(-8px);
    }

    .mobile-nav .navbar-toggler span::after {
        transform: translateY(5px);
    }

    .mobile-nav .navbar-toggler.open-navbar-toggler span {
        transform: rotate(90deg);
    }



    .cover-boxes {
        display: none;
    }

    .ex-row {
        display: grid;
        grid-template-columns: repeat(1, 700px);
        justify-content: center;
    }

    .experience-column h3 {
        font-size: 40px;
    }

    .experience {
        height: 100%;
        width: 100%;
        padding-bottom: 50px;
    }

    .Discount .Discount-column .discount-box {
        max-width: 500px;

    }

    .Discount .Discount-column .discount-box #text1 {
        font-size: 40px;
    }

    .Discount .Discount-column .discount-box #text2 {
        font-size: 40px;
    }

    .Discount .Discount-column #text3 {
        padding: 40px 110px;
    }

    .appointment-column .booking-box .box-column .appointment-box {
        width: 75%;
        background: #f1c40f;
        padding: 40px;
    }

    .appointment-form-field select {
        width: 103%;
    }

    .Pricing-Table {
        background: linear-gradient(0deg, rgba(24, 23, 23, 0.904), rgba(27, 26, 26, 0.904)), url(/img/barbershopchair.jpeg);
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
        height: 1200px;
    }

    .tabs li {
        display: block;

    }

    .price-list-row.left-space {
        width: 330px;
        display: inline-block;
        padding: 0 0 0 2%;
    }

    .price-list-row.right-space {
        width: 330px;
        display: inline-block;
        padding: 0 0% 0 0;
    }

    .Pricing-Table .book-box {
        position: absolute;
        max-width: 600px;
        width: 100%;
        top: 1000px;
        left: 35px;
    }


    .Pricing-Table .hours-box p {
        margin: 18px 0px 0px 10px;
        font-family: 'Oswald', sans-serif;
        font-size: 13px;
        text-transform: uppercase;
        color: #FFFFFF;
    }

    #member {
        background: #000000;
        height: 350px;
        padding-bottom: 40px;
    }

    #member .container .row .member-column {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .member-right {
        display: inline-block;
        padding-top: 60px;
    }

    .special-services {
        height: 100%;
        padding-bottom: 90px;
    }



    .special-services .special-column .card-boxes {
        display: grid;
        grid-template-columns: repeat(1, 430px);
        justify-content: center;
        grid-gap: 10px;
        margin-left: 15px;
    }

    .special-services .special-column .card-inner {
        width: 100%;
        max-width: 400px;
        border: 4px solid #000000;
        height: 480px;
        padding: 10px 10px;
    }

    .special-services .special-column .card-inner .car-image-box .card-img img {
        max-width: 400px;
        height: 220px;
        width: 100%;
    }

    .OurTeam {

        height: 100%;
        width: 100%;
    }



    .OurTeam .OurTeam-column .special-img {
        width: 100%;
        max-width: 50px;

    }

    .special-services .special-column .special-img {
        width: 100%;
        max-width: 50px;
    }



    .OurTeam .OurTeam-column .card-boxes {
        display: grid;
        grid-template-columns: repeat(1, 100%);
        width: 100%;
        max-width: 1020px;
        grid-gap: 20px;
        padding-top: 20px;
    }

    .OurTeam .OurTeam-column .card-boxes .card {
        margin: 0 auto;
    }

    .OurTeam .OurTeam-column .card-inner {
        width: 100%;
        max-width: 450px;
    }

    .pricingtable-container {
        margin: 0 auto;
        max-width: 700px;
        width: 100%;
    }

    .price-list-row.left-space {
        padding: 0 0 0 4%;
    }

    .controls {
        max-width: 100%;
        margin: 20px auto;
        text-align: center;
    }

    .portfolio-item img {
        width: 100%;
        height: 200px;
    }

}

@media only screen and (max-width: 730px) {

    .cover {
        height: 620px;
    }

    .mobile-nav .responsive-menu {
        width: 92%;
       
    }

    .unique h3 {
        font-size: 80px;
    }

    .experience-column {
        padding: 30px;
    }

    .experience-image-box img {
        height: 600px;
        max-width: 100%;
        width: 88%;
        margin-left: 30px;
    }

    .special-services .special-column .logo {
        max-width: 60px;
    }

    .special-services .special-column .card-boxes {
        margin-left: 2px;
    }
   

    .ex-row {
        display: grid;
        grid-template-columns: repeat(1, 100%);
        justify-content: center;
    }

    .Pricing-Table .book-box {
        position: absolute;
        max-width: 350px;
        width: 100%;
        top: 1260px;
        left: 18px;
        display: grid;
        grid-template-columns: 1fr;
    }

    .Pricing-Table .hours-box, .far {
        color: #f1c40f;
        font-size: 18px;
        margin: 15px auto;
    }


    .Pricing-Table .button-box {
        margin: 0 auto;
    }


    .Pricing-Table {
        background: linear-gradient(0deg, rgba(24, 23, 23, 0.904), rgba(27, 26, 26, 0.904)), url(/img/barbershopchair.jpeg);
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
        height: 1600px;
    }

    .pricingtable-container {
        max-width: 450px;
    }

    .Discount .Discount-column .discount-box {
        max-width: 320px;
    }

    .price-list-row.left-space {
        width: 100%;
        padding: 0 0 0 0%;
    }

   

    .price-list-row.right-space {
        width: 100%;
        padding: 0 0 0 0%;
        margin-bottom: 20px;
    }

    .Testimonial-text {
        width: 88%;
    }

    .Discount .Discount-column .discount-box #text1 {
        font-size: 30px;
        padding-bottom: 10px;
    }

    .Discount .Discount-column .discount-box #text2 {
        font-size: 25px;
        padding-bottom: 5px;
    }

    .Discount .Discount-column #text3 {
        padding: 40px 35px;
    }

    .appointment-column .booking-box .open-hours-column {
        padding: 0 15px;
        width: 92%;
    }

    #make-an-appointment {
        background: #000000;
        height: 1600px;
    }

    .appointment-column .booking-box {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .appointment-column .booking-box .box-column .appointment-box {
        width: 75%;
        background: #f1c40f;
        padding: 40px;
        margin: 0 auto;
    }

    #make-an-appointment {
        background: #000000;
        height: 1450px;
    }

    .appointment-form-field select {
        width: 101%;
    }

    .control-btn { 
        margin: 0 auto;
    }

    .portfolio-item img {
        width: 100%;
        height: 130px;
    }

    .member-left h3 {
        font-size: 20px;
        margin-left: 20px;
    }

    .member-left img {
        width: 80px;
        display: inline-block;
    }

    .member-left {
        padding-top: 120px;
        padding-left: 45px;
    }

    .member-right {
        display: inline-block;
        padding-top: 40px;
    }

    #member {
        background: #000000;
        height: 300px;
    }


}